# 1. project build tools: setuptools, twine, wheel
setuptools~=75.8.2
twine~=6.1.0
wheel~=0.45.1
requests-toolbelt~=1.0.0
# 2. logger
loguru~=0.7.3
icecream~=2.1.4
# 3. configure
PyYAML~=6.0.2
# 4. number
numpy~=1.26.4
# 5. git
gitpython~=3.1.44
