# 1. project build tools: setuptools, twine, wheel
setuptools~=75.8.2
twine~=6.1.0
wheel~=0.45.1
requests-toolbelt~=1.0.0
# 2. logger
loguru~=0.7.3
icecream~=2.1.4
# 3. configure
PyYAML~=6.0.2
# 4. num & dataframe
numpy~=2.3.0
pandas~=2.3.0
# 5. git
gitpython~=3.1.44

python-dateutil~=2.9.0.post0
matplotlib~=3.10.1

# AKShare
akshare~=1.17.26
findpeaks~=2.7.4